body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 16px;
}

  .input-area{
    display: flex;
justify-content: center;
gap: 10px;
margin: 0;
padding: 0;
width: 100%;
max-width: 500px;
box-sizing: border-box;
  }

  input,button{
    max-width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
